/* #be3144 */
*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
    --main-font: "Poppins", sans-serif;
    --main-line-height: 1.4;
    --color-shadow: #181719;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
}


/* navbar styles */

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--main-red);
    display: flex;
    justify-content: flex-end;

}

#navbar .nav-link {
    padding: 25px 25px;
    margin: 0 25px;
    transform: translateX(-50%);
    font-size: 1.8rem;
    color: var(--main-white);
    text-decoration: none;
}

/* welcome section styling */

#welcome-section {
    background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#welcome-section h1 {
    font-size: 6rem;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    text-align: center;
    display: block;
    color: white;
}

#welcome-section h1 span {
    display: block;
    font-size: 3rem;
    font-weight: 100;
    font-family: "Poppins", sans-serif;
    color: var(--main-red);
}

/*  project styles */

#projects {
    text-align: center;
    background-color: var(--main-blue);
    padding: 20px;
    color: white;
    border-bottom: 4px solid var(--main-gray);
    height: 100vh;
}

#projects #profile-link {
    text-decoration: underline;
    color: var(--main-red);
}

/* certification stylings */

#certifications {
    padding: 20px;
    background-color: #181719;
    color: white;
    height: 75vh;
}

#certifications h1#cert-title {
    font-size: 6rem;
    text-align: center;
}

#certifications #cert {
    height: 400px;
}

/* contact syling */

#socials {
    height: 50vh;
    color: white;
    background-color: #303841;
    text-align: center;
}

#socials h1 {
    font-size: 6rem;
}

#socials p.subtitle {
    font-size: 3rem;
    font-style: italic;
}

#socials #social-icons {
    padding: 20px;
}

#socials #social-icons a {
    color: white;
    padding: 0 20px 0 20px;
    font-size: 1.5rem;
    text-decoration: none;
    text-shadow: 4px 6px 8px #181719;
    transition: all 0.2s ease-in-out;
}

#socials #social-icons a:hover {
    text-shadow: none;
}

#socials #social-icons a i {
    margin-right: 7px;
}

/* footer styling */

#footer {
    background-color: #be3144;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
}

#certifications a:first-of-type {
    font-size: 1.5rem;
    color: #f0f0f0;
    text-align: center;
}

#certifications a:first-of-type:hover {
    text-decoration: none;
    color: white;
}
